[submodule "13.2"]
	path = 13.2
	url = https://github.com/geoschem/input-data-catalogs.git
[submodule "develop"]
	path = develop
	url = https://github.com/geoschem/input-data-catalogs.git
[submodule "13.3"]
	path = 13.3
	url = https://github.com/geoschem/input-data-catalogs.git
[submodule "13.0"]
	path = 13.0
	url = https://github.com/geoschem/input-data-catalogs.git
[submodule "13.1"]
	path = 13.1
	url = https://github.com/geoschem/input-data-catalogs.git
[submodule "13.4"]
	path = 13.4
	url = https://github.com/geoschem/input-data-catalogs.git
[submodule "14.0"]
	path = 14.0
	url = https://github.com/geoschem/input-data-catalogs.git
[submodule "14.1"]
	path = 14.1
	url = https://github.com/geoschem/input-data-catalogs.git
[submodule "14.1.1"]
	path = 14.1.1
	url = https://github.com/geoschem/input-data-catalogs.git
[submodule "14.2.0"]
	path = 14.2.0
	url = https://github.com/geoschem/input-data-catalogs.git
[submodule "14.2.1"]
	path = 14.2.1
	url = https://github.com/geoschem/input-data-catalogs.git
[submodule "14.2.2"]
	path = 14.2.2
	url = https://github.com/geoschem/input-data-catalogs.git
